.AssemblyEditor {
    height: 100%;
    width: 50ch;
}

.editor-panel-header {
    color: var(--primary-color-light);
    width: 100%;
    height: 100%;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1600px) {
    .AssemblyEditor {
        width: 70ch;
    }
}

@media (min-width: 2000px) {
    .AssemblyEditor {
        width: 100ch;
    }
}


