.AssemblyEditor {
    --panel-bar-radius: 0.5rem;
    --panel-bar-top-color: var(--primary-color);
    --panel-bar-bottom-color: var(--background-color);

    --panel-top-bar-radius: var(--panel-bar-radius);
    --panel-top-bar-background-color: var(--background-color);
    --panel-top-bar-border-color: var(--panel-bar-top-color);
    --panel-top-bar-height: auto;

    --panel-content-background-color: var(--background-color);

    --panel-bottom-bar-radius: var(--panel-bar-radius);
    --panel-bottom-bar-background-color: var(--panel-bar-bottom-color);
    --panel-bottom-bar-border-color: var(--panel-bar-bottom-color);
    --panel-bottom-bar-height: 0;

    height: 100%;
    width: 50ch;
}

.editor-panel-header {
    color: var(--primary-color);
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1600px) {
    .AssemblyEditor {
        width: 70ch;
    }
}

@media (min-width: 2000px) {
    .AssemblyEditor {
        width: 100ch;
    }
}


