
.display {
    height: 100%;
    min-height: 0;
    background: linear-gradient(90deg, var(--background-color-light) 0, transparent 40% 60%, var(--background-color-light)),
                linear-gradient(0deg, var(--background-color-light) 0, transparent 40% 60%, var(--background-color-light));
    background-color: var(--background-color);
}