.screw {
    background: linear-gradient(var(--screw-rotation-degrees, 45deg), var(--screw-primary-color) 40%, var(--screw-accent-color) 50%, var(--screw-primary-color) 55%);

    aspect-ratio: 1 / 1;
    height: var(--screw-diameter);

    box-shadow: var(--screw-box-shadow, 0);
    border: var(--screw-border, 0);
    box-sizing: border-box;
    border-radius: 50%;
}