.header {
    box-sizing: border-box;
    height: var(--header-height);
    display: grid;
    grid-template-columns: 20rem auto 1fr;
    border-bottom: 1px solid black;
    box-shadow: 0 0 5px 2px black;

    --plate-background-color: var(--primary-color);
    --plate-color: var(--background-color);
    --plate-screw-primary-color: var(--primary-color-dark);
    --plate-screw-accent-color: var(--background-color-light);
}

.logo {
    --plate-border-radius: 0 0 10px 30px;
    --plate-box-shadow: 0 0 15px 2px black;
    height: 2rem;
}

.logo h2 {
    font-weight: 700;
}

.repoLink {
    --plate-border-radius: 0 0 0 10px;
    --plate-box-shadow: 0 0 15px 2px black;

    align-self: flex-start;
    justify-self: end;
    box-sizing: border-box;
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: flex-end;
}

.repoLink a {
    display: flex;
    align-items: center;
}

.repoLink img {
    aspect-ratio: 1 / 1;
    height: 24px;
}

.screenLabel {
    align-self: flex-end;

    height: 2rem;
    width: fit-content;

    --plate-border-radius: 10px 30px 0 0;
    --plate-box-shadow: 0 0 15px 2px black;
}
