.statusBar {
    height: var(--status-bar-height);
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid black;
    box-shadow: 0 0 5px 2px black;

    --plate-background-color: var(--primary-color);
    --plate-color: var(--background-color);
    --plate-screw-primary-color: var(--primary-color-dark);
    --plate-screw-accent-color: var(--background-color-light);
}

.poweredByLabel {
    height: 1.5rem;
    width: fit-content;

    --plate-border-radius: 0 0 30px 10px;
    --plate-box-shadow: 0 0 15px 2px black;
}
