
.content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
}

.column {
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
    white-space: pre;
}

.registers {

}

.register {
    box-sizing: border-box;
    color: lightgrey;
}

.separator {
    width: 1px;
    background: linear-gradient(0, transparent 0, white 50%, transparent 100%);
}

.value {

}