/*noinspection CssInvalidAtRule*/
@import-normalize;

div, button, body, html {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}

html {
  --background-color: #050F05;
  --primary-color: #02CA02;
  --primary-color-dark: #156515;
  --primary-color-light: #66FF66;

  --panel-header-height: 2rem;
  --panel-header-color: var(--background-color);
  --panel-header-background-color: var(--primary-color-light);
  --panel-header-border-thickness: 1px;
  --panel-header-border-color: var(--primary-color-light);
  --panel-header-border-color-highlight: var(--primary-color-dark);
  --panel-header-border-radius: 0;
  --panel-content-background-color: var(--background-color);

  height: calc(100vh - 4px);
  background-color: var(--background-color);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1rem;
}

.reset-margin {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--primary-color-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-light);
}

.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }