.content {
    display: grid;
    grid-template-columns: 2px var(--editor-width) 6px 2.5rem auto;
    box-sizing: border-box;
    min-height: 0;
}

.sideNav {
    padding-top: 3rem;
}
.spacer {
    background: var(--primary-color);
    height: 100%;
}


.vertSpacer {
    box-sizing: border-box;
    margin-left: 4px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.widgetContainer {
    padding: 1rem;
    min-width: 0;
    min-height: 0;
    overflow-y: auto;
}

.widgetSpace {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    --widget-plate-background-color: transparent;
    --widget-plate-color: var(--primary-color);
    --widget-plate-radius: 5px 5px;
    --widget-plate-border: 2px groove var(--alternate-background-color);
    --widget-content-border-color: var(--alternate-background-color);
    --widget-content-background: var(--accent-color) radial-gradient(var(--accent-color) 80%, var(--accent-color-light) 100%);
    --widget-screw-primary-color: var(--background-color-light);
    --widget-screw-accent-color: var(--alternate-background-color);
}