.content {
    display: grid;
    grid-template-columns: 2px var(--editor-width) 6px 2.5rem auto;
    box-sizing: border-box;
    min-height: 0;
}

.sideNav {
    padding-top: 3rem;
}
.spacer {
    background: var(--primary-color);
    height: 100%;
}


.vertSpacer {
    box-sizing: border-box;
    margin-left: 4px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}