.container {
  --button-background: var(--background-color);
  --button-color: var(--primary-color-light);
  --button-font-size: 0.75rem;
  --button-border: 1px solid var(--primary-color-light);

  --button-hover-border: 1px solid white;
  --button-hover-background: var(--primary-color-light);
  --button-hover-color: var(--button-background);

  --button-active-border: 1px solid white;
  --button-active-background: var(--button-background);
  --button-active-color: var(--primary-color-light);

  --button-group-gap: 0.5rem;
  padding: 1rem;
  min-width: 0;
  min-height: 0;
  overflow-y: auto;
}

.space {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: smaller;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.hart {
  display: flex;
  flex-direction: column;
}

.peripheralsWrapper {
  min-height: 0;
  width: 100%;
}

.peripherals {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.peripherals .memory {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}