
.container {
    background: var(--background-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: var(--panel-top-bar-radius);
    border-top-right-radius: var(--panel-top-bar-radius);
    border-bottom-left-radius: var(--panel-bottom-bar-radius);
    border-bottom-right-radius: var(--panel-bottom-bar-radius);
}

.bar-top {
    border: 1px solid var(--panel-top-bar-border-color);
    background: var(--panel-top-bar-background-color);
    height: var(--panel-top-bar-height);
    border-top-left-radius:  var(--panel-top-bar-radius);
    border-top-right-radius:  var(--panel-top-bar-radius);
}

.bar-content {
    background: var(--panel-content-background-color);
    flex: 1;
}

.bar-bottom {
    border: 1px solid var(--panel-bottom-bar-border-color);
    background: var(--panel-bottom-bar-background-color);
    height: var(--panel-bottom-bar-height);
    border-bottom-left-radius:  var(--panel-bottom-bar-radius);
    border-bottom-right-radius:  var(--panel-bottom-bar-radius);
}
