
.container {
    background: var(--background-color);
    display: grid;
    grid-template-rows: auto 1fr;
}

.barHeader {
    background: var(--panel-header-background-color);
    height: var(--panel-header-height);
    border: var(--panel-header-border-thickness) solid var(--panel-header-border-color);
}

.barContent {
    background: var(--panel-content-background-color);
    border: var(--panel-header-border-thickness) solid var(--panel-header-border-color);
    overflow: auto;
}

.barContent.u1 {
    height: 14rem;
}

.barContent.u2 {
    height: 18rem;
}

.barContent.u3 {
    height: 56rem;
}
