
.container {
    background: var(--background-color);
    height: auto;
}

.barHeader {
    background: var(--panel-header-background-color);
    height: auto;
    border: var(--panel-header-border-thickness) solid var(--panel-header-border-color);
    border-bottom-color: var(--panel-header-border-color-highlight);
    border-top-left-radius: var(--panel-header-border-radius);
    border-top-right-radius: var(--panel-header-border-radius);
}

.barContent {
    background: var(--panel-content-background-color);
    border-left: var(--panel-header-border-thickness) solid var(--panel-header-border-color);
    border-right: var(--panel-header-border-thickness) solid var(--panel-header-border-color);
    border-bottom: var(--panel-header-border-thickness) solid var(--panel-header-border-color);
    height: auto;
}